/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-family: "Inter";
  src: url(../fonts/inter-400.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/inter-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/inter-900.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/*Global*/
html {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  width: 1170px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #2D3440;
  background-color: #FEAFC3;
}

.main-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

.section {
  margin-bottom: 80px;
}

.button {
  display: block;
  margin: 0;
  padding: 12px 32px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border: none;
  border-radius: 26px;
  -webkit-box-shadow: 0 0 0 4px rgba(255, 47, 100, 0.30), 0 4px 12px 0 rgba(45, 52, 64, 0.1);
          box-shadow: 0 0 0 4px rgba(255, 47, 100, 0.30), 0 4px 12px 0 rgba(45, 52, 64, 0.1);
  background-color: #FF2F64;
  color: #FCFCFC;
  cursor: pointer;
}

.button-light {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 12px 32px;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  line-height: 20px;
  border: none;
  background-color: #FCFCFC;
  -webkit-box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.40), 0 4px 12px 0 rgba(45, 52, 64, 0.1);
          box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.40), 0 4px 12px 0 rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  color: #2D3440;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.radius-m {
  border-radius: 8px;
}

.radius-l {
  border-radius: 16px;
}

.text {
  margin: 0;
  color: #565C66;
}

.button:hover {
  color: rgba(45, 52, 64, 1);
  background-color: rgba(252, 252, 252, 0.30);
  -webkit-box-shadow: 0 0 0 4px #FF2F64, 0 4px 12px 0 rgba(45, 52, 64, 0.1);
          box-shadow: 0 0 0 4px #FF2F64, 0 4px 12px 0 rgba(45, 52, 64, 0.1);
}

.button:active {
  color: #FCFCFC;
  background-color: #FEAFC3;
  -webkit-box-shadow: 0 0 0 2px rgba(45, 52, 64, 1), 0 4px 12px 0 rgba(45, 52, 64, 0.1);
          box-shadow: 0 0 0 2px rgba(45, 52, 64, 1), 0 4px 12px 0 rgba(45, 52, 64, 0.1);
}

.button:focus {
  background-color: #FF2F64;
  -webkit-box-shadow: 0 0 0 2px rgba(45, 52, 64, 1), 0 4px 12px 0 rgba(45, 52, 64, 0.1);
          box-shadow: 0 0 0 2px rgba(45, 52, 64, 1), 0 4px 12px 0 rgba(45, 52, 64, 0.1);

}

.button-light:hover {
  background-color: rgba(252, 252, 252, 0.40);
  -webkit-box-shadow: 0 0 0 4px  #FCFCFC, 0 4px 12px 0 rgba(45, 52, 64, 0.1);
          box-shadow: 0 0 0 4px  #FCFCFC, 0 4px 12px 0 rgba(45, 52, 64, 0.1);
}

.button-light:active {
  background-color: rgba(252, 252, 252, 1);
  -webkit-box-shadow: 0 0 0 2px  rgba(45, 52, 64, 1), 0 4px 12px 0 rgba(45, 52, 64, 0.1);
          box-shadow: 0 0 0 2px  rgba(45, 52, 64, 1), 0 4px 12px 0 rgba(45, 52, 64, 0.1);
}

.button-light:focus {
  background-color: rgba(252, 252, 252, 0.50);
  -webkit-box-shadow: 0 0 0 2px  rgba(45, 52, 64, 1), 0 4px 12px 0 rgba(45, 52, 64, 0.1);
          box-shadow: 0 0 0 2px  rgba(45, 52, 64, 1), 0 4px 12px 0 rgba(45, 52, 64, 0.1);
}

/*Header*/
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.page-header__logo {
  margin: 24px 16px 0 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 24px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 55%;
  margin: 0;
  padding: 0;
  line-height: 20px;
  list-style: none;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  padding: 6px 14px;
  border: 2px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav__item {
  position: relative;
}

.dropdown {
  display: none;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  top: 35px;
  left: 5px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 8px;
  margin: 0;
  margin-top: 10px;
  list-style: none;
  border-radius: 4px;
  background-color: #FCFCFC;
  -webkit-box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
          box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
  z-index: 10;
}

.dropdown__link {
  display:block;
  font-size: 14px;
  padding: 6px 16px;
}

.nav__icon {
  display: block;
  width: 16px;
  height: 16px;
  margin-top: 1px;
}

.dropdown--open .nav__icon path {
  fill: #FCFCFC;
}

.dropdown--accent {
  display: block;
  font-weight: 700;
  margin-bottom: 12px;
}

.dropdown--accent::after {
  position: absolute;
  content: "";
  width: 75%;
  height: 1px;
  left: 16px;
  top: 48px;
  background-color: #B9B9B9;
}

.nav__link:hover {
  border-radius: 30px;
  background-color: rgba(252, 252, 252, 0.50);
}

.nav__link:active {
  border-radius: 30px;
  background-color: #FCFCFC;
}

.nav__link:focus {
  border-radius: 30px;
  border-color: #2D3440;
  background-color: rgba(252, 252, 252, 0.50);
}

.dropdown--open .dropdown {
  display: -ms-grid;
  display: grid;
}

.dropdown--open .nav__link_catalog {
  background-color: #FF4A78;
  border-radius: 30px;
  padding: 8px 16px;
}

.dropdown--open .nav__link_catalog {
  color: #FCFCFC;
}

.dropdown--open .nav__icon {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-top: 3px;
}

.dropdown__link:hover {
  border-radius: 0;
  background-color: #FFCBD8;
}

.dropdown__link:active {
  border-radius: 0;
  background-color: rgba(255, 119, 153, 1);
}

.dropdown__link--current {
  border-radius: 0;
  background-color: rgba(255, 74, 120, 1);
  color: rgba(252, 252, 252, 1);
}

.dropdown--open .nav__link_catalog:hover {
  opacity: 0.6;
}

.dropdown--open .nav__link_catalog:active {
  opacity: 0.3;
}

.user-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 45%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  list-style: none;

}

.user-nav__item {
  cursor: pointer;
}

.user-nav__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.phone__number {
  font-size: 16px;
  font-weight: 700
}

.search__button {
  width: 32px;
  height: 32px;
  border-radius: 27px;
  background-color: rgba(252, 252, 252, 0.30);
  border: 2px solid transparent;
  padding: 6px;
}

.search {
  position: relative;
}

.search__input {
  width: 324px;
  padding: 14px 16px;
  border: 2px solid rgba(185, 185, 185, 1);
}

.search--open .search__button,
.log-in--open .log-in__button,
.basket--open .basket__button,
.basket--empty .basket__button {
  background-color: #FF4A78;
}

.search--open .search__button,
.log-in--open .user-nav__button,
.basket--open .basket__button,
.basket--empty .basket__button {
  color: rgba(252, 252, 252, 1);
}

.log-in__button {
  width: 88px;
  height: 32px;
  border-radius: 30px;
  background-color: rgba(252, 252, 252, 0.30);
  border: 2px solid transparent;
  padding: 4px 14px;
}

.log-in__icon {
  margin-right: 6px;
}

.basket__button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 30px;
  background-color: rgba(252, 252, 252, 0.30);
  border: 2px solid transparent;
  padding: 4px 14px;
}

.basket__icon {
  margin-right: 6px;
}

.search__icon path {
  fill: #2D3440;
}

.log-in__icon path {
  fill: #2D3440;
}

.basket__icon path {
  fill: #2D3440;
}

.search--open path,
.log-in--open path,
.basket--open path,
.basket--empty path {
  fill: rgba(252, 252, 252, 1);
}

.popover {
  position: absolute;
  background-color: rgba(252, 252, 252, 1);
  border-radius: 4px;
  -webkit-box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
          box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
  z-index: 10;
}

.popover-search {
  display: none;
  top: 40px;
  left: -325px;
}

.popover-search .popover__content {
  margin: 24px 16px;
}

.popover-basket-empty .popover__content {
  max-width: 250px;
  text-align: center;
}

.popover-basket-empty {
  display: none;
  padding: 48px 18px;
  top: 53px;
  right: 0;
}

.basket__text--empty {
  display: none;
}

.basket--empty .basket__text--empty {
  display: block;
}

.basket--empty .full {
  display: none;
}

.search--open .popover-search,
.log-in--open .popover-log-in,
.basket--open .popover-basket,
.basket--empty .popover-basket-empty {
  display: block;
}

.popover__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  padding: 0;
  margin: 0;
}

.popover__input {
  font: inherit;
  font-size: 16px;
  width: 324px;
  padding: 13px 16px;
  border-radius: 4px;
  border:1px solid rgba(185, 185, 185, 1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.log-in .popover__input::-webkit-input-placeholder {
  color: rgba(45, 52, 64, 1);
}

.log-in .popover__input::-moz-placeholder {
  color: rgba(45, 52, 64, 1);
}

.log-in .popover__input:-ms-input-placeholder {
  color: rgba(45, 52, 64, 1);
}

.log-in .popover__input::-ms-input-placeholder {
  color: rgba(45, 52, 64, 1);
}

.log-in .popover__input,
.log-in .popover__input::placeholder {
  color: rgba(45, 52, 64, 1);
}

.input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  margin: 32px 0;
}

.link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popover__link {
  text-decoration: underline;
}

.popover-log-in {
  display: none;
  top: 50px;
  left: -120px;
}

.popover-log-in__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 23px;
}

.basket__img {
  border-radius: 50%;
  width: 46px;
  height: 46px;

}

.popover-basket {
  display: none;
  top: 52px;
  left: -10px;
  padding: 48px;
  }

.basket__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 32px;
  margin-bottom: 64px;
}

.basket__list::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: -32px;
  background-color: rgba(231, 231, 231, 1);
}

.basket__item {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  -ms-grid-columns: 200px 25px 118px;
  grid-template-columns: 200px 118px;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.basket__item:last-child {
  margin-bottom: 0;
}

.basket__price {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin: 0;
}

.basket__reset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.popover__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.item-inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
}

.basket__subtitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

.basket__bill {
  margin: 0;
  color: rgba(185, 185, 185, 1);
}


.user-nav__button:hover  {
  background-color: rgba(252, 252, 252, 0.5);
}

.user-nav__button:focus  {
  border: 2px solid rgba(45, 52, 64, 1);
}

.user-nav__button:active  {
  border:none;
  background-color: rgba(252, 252, 252, 1);
}

.search--open .user-nav__button:hover,
.log-in--open .user-nav__button:hover,
.basket--open .user-nav__button:hover,
.basket--empty .user-nav__button:hover{
  background-color: rgba(255, 74, 120, 0.6);
}

.search--open .user-nav__button:focus,
.log-in--open .user-nav__button:focus,
.basket--open .user-nav__button:focus,
.basket--empty .user-nav__button:focus{
  border: 2px solid rgba(45, 52, 64, 1);
}

.search--open .user-nav__button:active,
.log-in--open .user-nav__button:active,
.basket--open .user-nav__button:active,
.basket--empty .user-nav__button:active{
  border: none;
  opacity: 0.3;
}

/*Slider*/

.slider {
  position: relative;
}

.slider__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 870px 55px 240px;
  grid-template-columns: 870px 240px;
  -webkit-column-gap: 55px;
     -moz-column-gap: 55px;
          column-gap: 55px;
}

.slider__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.slider__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding-left: 70px;
}

.slider__item::before {
  position: absolute;
  content: "";
  top:120px;
  left: 540px;
  width: 330px;
  height: 312px;
  border-radius: 50%;
  background-color:rgba(255, 203, 216, 1);
  z-index: -5;
}

.slider__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 100px;
  max-width: 470px;
}

.slider__title {
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
  margin-bottom: 24px;
}

.slider__text {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 48px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__img {
  padding-top: 23px;
  padding-bottom: 24px;
}

.wrapper-slider-button {
  position: relative;
}

.slider__toggle_left {
  position: absolute;
  top: 257px;
  left: -16px;
}

.slider__toggle_right {
  position: absolute;
  top: 257px;
  right: -22px;
}

.preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.preview__item {
  position: relative;
  display: block;
  padding: 0 17px;
}

.preview__item_current {
  display: none;
}

.preview__img {
  width: 85px;
  height: 150px;
  opacity: 0.4;
}

.preview__item::before {
  position: absolute;
  content: "";
  top:30px;
  left: 5px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color:rgba(255, 203, 216, 0.4);
}

.slider__socials {
  position: absolute;
  right: 0;
  bottom: 0;
}

.carousel {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.carousel__item {
  width: 12px;
  height: 12px;
  border-radius: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(252, 252, 252, 0.3);
  margin-right: 8px;
  list-style: none;
}

.carousel__item:last-child  {
margin-right: 0;
}

.carousel__item--current {
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background-color: rgba(252, 252, 252, 1);
  list-style: none;
}

.carousel__item:hover {
  border: 1px solid rgba(252, 252, 252, 1);
}

.carousel__item:active {
  border: none;
  background-color: rgba(252, 252, 252, 0.5);
}

.socials__item:focus {
  border: 1px solid rgba(45, 52, 64, 1);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}


.socials__item {
  position: relative;
  margin-right: 16px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.40);
          box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.40);
}

.socials__icon {
  display: block;
  width: 24px;
  height: 24px;
}

.socials__icon path {
  fill: rgba(252, 252, 252, 1);
}

.socials__link:hover:before{
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: rgba(45, 52, 64, 1);
  z-index: -20;
}

.socials__link:active:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: rgba(45, 52, 64, 1);
  z-index: -20;
  opacity: 0.5;
}

.socials__link:active {
  opacity: 0.5;
}


.socials__link:focus {
  border-radius: 24px;
  background-color: rgba(45, 52, 64, 1);
  -webkit-box-shadow: 0 0 0 2px rgba(45, 52, 64, 1);
          box-shadow: 0 0 0 2px rgba(45, 52, 64, 1);
}

.slider__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #FCFCFC;
  background-color:  rgba(252, 252, 252, 0.30);
  cursor: pointer;
}

.slider__icon path{
  fill: #FCFCFC;
}

.slider__item {/*скрытые страницы слайдера*/
  display: none;
}

.slider__item_current {/*скрытые страницы слайдера*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__toggle:hover {
  background-color: rgba(252, 252, 252, 1);
}

.slider__toggle:hover path {
  fill: rgba(45, 52, 64, 1);
}

.slider__toggle:active {
  background-color: rgba(252, 252, 252, 0.50);
}

.slider__toggle:focus {
  border: 2px solid #2D3440;
}

/*Offer*/

.slogan {
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 55px;
}

.offer__banner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 36px;
  background-color: #FF7799;
  max-width: 500px; /*правильный ли вариант??*/
}

.offer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.offer__text {

  max-width: 305px;
  color: #2D3440;
  margin-bottom: 28px;
}

.offer__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  margin-bottom: 28px;
}

.offer__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 219px;
  height: 268px;
}

/*Popular*/

.popular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 80px;
}

.popular__slogan {
  margin-bottom: 92px;
}

.card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 270px 30px 270px 30px 270px 30px 270px;
  grid-template-columns: repeat(4,270px);
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 91px;
  text-align: center;
  padding: 0;
}

.card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px;
  background-color: #FCFCFC;
  list-style: none;
}

.card__img {
  border-radius: 50%;
  margin-top: -50px;
  margin-bottom: 16px;
}

.card__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  margin-bottom: 8px;
}

.card__text {
  width: 190px;
  padding: 0;
  margin-bottom: 16px;
}

.card__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  margin-bottom: 24px;
}

.card__price {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}

.card__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 6px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid transparent;
  border-radius: 100%;
  cursor: pointer;
}

.card__button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-color: #FF2F64;
}

.card__button:hover path {
  fill: #2D3440;
}

.card__button:active {
  background-color: #FFCBD8;
}

.card__button:focus {
  border-radius: 26px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #FF2F64;
  border-color: #2D3440;
}

.card__button:focus path {
  fill: #FCFCFC;
}

.card__icon {
  width: 16px;
  height: 16px;
}

.card__icon path {
  fill: rgba(252, 252, 252, 1);
}

/*Advantages*/
.advantages {
  background-image: url(../images/advantages-bgimage.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 24px;
}

.section + .advantages {
  margin-top: -15px;
}

.advantages__wrapper {
  background-color: #FFFFFF;
  padding: 56px 40px;
}

.advantages__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  padding-left: 64px;
}
.advantages__item_ice-cream {
  position: relative;
}

.ice-cream::before {
  position: absolute;
  content: "";
  width: 48px;
  height: 48px;
  top:0;
  left: 0;
  background-image: url(../images/icons/ice-cream.svg);
  background-repeat: no-repeat;
}
.advantages__item_cow {
  position: relative;
}
.cow::before {
  position: absolute;
  content: "";
  width: 48px;
  height: 48px;
  top:0;
  left: 0;
  background-image: url(../images/icons/cow.svg);
  background-repeat: no-repeat;
}

.advantages__item_leaf {
  position: relative;
}

.leaf::before {
  position: absolute;
  content: "";
  width: 48px;
  height: 48px;
  top:0;
  left: 0;
  background-image: url(../images/icons/leaf.svg);
  background-repeat: no-repeat;
}

.advantages__item_thermometer {
  position: relative;
}

.thermometer::before {
  position: absolute;
  content: "";
  width: 48px;
  height: 48px;
  top:0;
  left: 0;
  background-image: url(../images/icons/thermometer.svg);
  background-repeat: no-repeat;
  }

/*News*/

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.news__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 570px;
}

.blog {
  background-color: #FFFFFF;
  background-image: url(../images/blog-bgimage.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 32px;
}

.blog__text {
  line-height: 20px;
  margin-bottom: 12px;
}

.blog__title {
  max-width: 303px;
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.subscription {
  background-image: url(../images/subscription-bgimage.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.subscription__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 42px;
  background-color: #FFFFFF;
  height: 100%;
  margin: 6px;
  padding: 26px;
}

.subscription__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 14px 1fr;
  grid-template-columns: 2fr 1fr;
  -webkit-column-gap: 14px;
     -moz-column-gap: 14px;
          column-gap: 14px;
  margin-top: auto;
}

.subscription__input {
  width: 100%;
}

.subscription__button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Delivery*/
.delivery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../images/delivery-bgimage.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}

.delivery__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  padding: 64px 64px 64px 100px;
}

.delivery__title {
  text-align: left;
  margin: 0;
  margin-top: 4px;
}

.delivery__text {
  text-align: left;
}

.delivery__form {
  min-width: 420px;
  margin: 64px;
  padding: 40px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
          box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
}

.delivery__subtitle {
  text-align: left;
  margin-bottom: 32px;
}

.order {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 117px 16px 286px;
  grid-template-columns: 117px 286px;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
}

.order__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  margin-bottom: 16px;
}

.order__date .order__input {
  padding-left: 9px;
  font-weight: 400;

}

input::-webkit-calendar-picker-indicator{ /*отключение календарика у формы*/
  display: none;
}

.order__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
  margin-bottom: 16px;
}

.order__input {
  display: block;
  min-height: 50px;
  width: 100%;
  margin-top: 8px;
  color: rgba(185, 185, 185, 1);
}

.input {
  font:inherit;
  font-size: 16px;
  line-height: 20px;
  color: rgba(185, 185, 185, 1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 14px 16px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
}

.input:hover {
  border-color: rgba(45, 52, 64, 1);
}

.input:focus {
  border-color: rgba(45, 52, 64, 1);
  -webkit-box-shadow: 0 0 0 1px rgba(45, 52, 64, 1);
          box-shadow: 0 0 0 1px rgba(45, 52, 64, 1);
}

.input:invalid {
  border-color: rgba(234, 84, 84, 1);
}

.input:invalid:hover {
  border-color: rgba(234, 84, 84, 1);
  -webkit-box-shadow: 0 0 0 1px rgba(234, 84, 84, 1);
          box-shadow: 0 0 0 1px rgba(234, 84, 84, 1);
}

.input:disabled {
  background-color: rgba(231, 231, 231, 1);
  border: 1px solid rgba(185, 185, 185, 1);
}

.input::-webkit-input-placeholder:disabled {
  color: rgba(45, 52, 64, 0.65);
}

.input::-moz-placeholder:disabled {
  color: rgba(45, 52, 64, 0.65);
}

.input:-ms-input-placeholder:disabled {
  color: rgba(45, 52, 64, 0.65);
}

.input::-ms-input-placeholder:disabled {
  color: rgba(45, 52, 64, 0.65);
}

.input::placeholder:disabled {
  color: rgba(45, 52, 64, 0.65);
}


.input::-webkit-input-placeholder {
  font:inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(185, 185, 185, 1);
}


.input::-moz-placeholder {
  font:inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(185, 185, 185, 1);
}


.input:-ms-input-placeholder {
  font:inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(185, 185, 185, 1);
}


.input::-ms-input-placeholder {
  font:inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(185, 185, 185, 1);
}


.input::placeholder {
  font:inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(185, 185, 185, 1);
}

.order__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-column: 1/-1;
  margin-bottom: 32px;
}

.order__input_address {
  grid-column: 1/-1;
}

.tooltip {
  position: relative;
}

.tooltip__button {
  display:block;
  width: 14px;
  height: 14px;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.tooltip-data {
  position: absolute;
  top:3px;
  left: 45px;
}

.tooltip__text {
  position: absolute;
  top: -10px;
  left: 25px;
  display: none;
  font: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  width: 170px;
  padding: 10px 8px;
  -webkit-box-shadow: 0 4px 8px rgba(194, 194, 194, 0.20);
          box-shadow: 0 4px 8px rgba(194, 194, 194, 0.20);
  border: 1px solid #B9B9B9;
  border-radius: 1px;
  background-color: #FFFFFF;
}

.tooltip-address:hover .tooltip__text,
.tooltip-address:focus .tooltip__text  {
  display: block;
}

.tooltip-data:hover .tooltip__text,
.tooltip-data:focus .tooltip__text {
  display: block;
}

.order__address {
  position: relative;
}

.order__button {
  grid-column: 1/-1;
  -ms-grid-column-align: center;
      justify-self: center;
}

.tooltip-address {
  position: absolute;
  top: 3px;
  left: 55px;
}


/*Contacts*/
.contacts {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../images/contacts-bgimage.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
}

.section + .contacts {
  margin-bottom: 0;
}

.contacts__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  padding: 40px;
  margin: 64px;
  background-color: #FCFCFC;
  -webkit-box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
          box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
  font-style: normal;
}

.contacts__text {
  margin: 0;
  margin-bottom: 12px;
}

.contacts__button {
  margin-bottom: 2px;
}

.adress {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  margin-bottom: 24px;
  color: #2D3440;
}

.telephone {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  color: #2D3440;
}

.time {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 32px;
  color: #565C66;
}

.modal {
  position:fixed;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 52, 64, 0.3);
}

.modal--open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__container {
  position: relative;
  padding: 64px;
  margin: auto;
  background-color: rgba(252, 252, 252, 1);
  border-radius: 8px;
  -webkit-box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
          box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.modal__subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  margin-bottom: 16px;
}

.modal__input {
  width: 442px;
  padding: 14px 16px;
  border-radius: 4px;
}


.modal__button {
  margin-top: 16px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.modal__close {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 10px;
  top: 35px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: cover;
  background-image: url(/images/icons/Cross.svg);
  cursor: pointer;
}
/*Footer*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 48px 0;
}

.menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-max-content 24px -webkit-max-content;
  -ms-grid-columns: max-content 24px max-content;
  grid-template-columns: -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  row-gap: 8px;
  padding: 0;
  margin: 0;
  margin-left: 20px;
  list-style: none;
}

.menu__item {
  position: relative;
  font-size: 14px;
  line-height: 20px;
}

.menu__item_active {
  font-weight: 700;
}

.menu__item_active::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 1px;
  left:-24px;
  background-image: url(../images/icons/Heart-fill.svg);
  background-repeat: no-repeat;

}

.menu__link {
  display: inline;
}

.developed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  margin: 0;
  margin-left: -1px;
  padding: 0;
  list-style: none;
}

.developed__text {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

.developed__link {
  text-decoration: underline;
}

/*Catalog*/
.inner-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.breadcrumbs {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 28px;
  margin-bottom: 16px;
}

.breadcrumbs__item {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin-right: 20px;
}

.breadcrumbs__link {
  padding: 8px 8px 8px 0;
  position: relative;
}

.breadcrumbs__link--active::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 95%;
  top: 26px;
  left: 0;
  background-color: rgba(45, 52, 64, 1);
}

.breadcrumbs__item:not(:last-child):after{
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  top: 5px;
  background-image: url(../images/icons/chevrons-right.svg);
  background-repeat: no-repeat;
}

.breadcrumbs__item:last-child {
  margin-right: 0;
}

.breadcrumbs__link:hover {
  text-decoration: underline;
}

/*Filter*/
.inner-page__title {
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  margin: 0;
  margin-bottom: 40px;
}


.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 16px;
}

.form__group {
  border: none;
  margin: 0;
  padding: 0;
  margin-right: 24px;
}

.form__title {
  font: inherit;
  font-size: 14px;
  line-height: 20px;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
  margin-left: 16px;
  color: rgba(45, 52, 64, 1);
}

.form__text {
  font: inherit;
  font-size: 14px;
  line-height: 20px;
}

.range-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.range-input {
  border: none;
  background-color: transparent;
  width: 26px;
  margin: 0;
  padding: 0;
  font: inherit;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  color: rgba(45, 52, 64, 1);
}

.range-label {
  font: inherit;
  font-size: 14px;
  color: inherit;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.range-line {
  margin: 0;
}

.range {
  padding: 17px 16px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
}

.range__scale {
  position: relative;
  width: 164px;
  height: 2px;
  border-radius: 2px;
  background-color:rgba(86, 92, 102, 0.3);
}

.range__bar {
  position: absolute;
  height: 2px;
  background-color: rgba(86, 92, 102, 1);
}

.range__toggle {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: rgba(252, 252, 252, 1);
  padding: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 6px solid rgba(45, 52, 64, 1);
  border-radius: 50%;
  cursor: pointer;
}

.toggle-min {
  top: -7px;
  left: -8px;
}

.toggle-max {
  top: -7px;
  right: 0;
}

.form__sorter {
  width: 196px;
  height: 36px;
  border-radius: 20px;
  border: none;
  margin: 0;
  padding: 8px 16px 8px 16px;
  background-color: rgba(252, 252, 252, 0.3);
}

.form__list {
  border-radius: 18px;
  margin: 0;
  padding: 8px 24px;
  background-color: rgba(252, 252, 252, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1em;
  list-style: none;
}

.form__item{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 16px;
}

.form__item:last-child {
  margin-right: 0;
}

.control {
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 20px;
  padding-left: 24px;
  margin-top: 2px;
}

.control__marker {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(45, 52, 64, 1);
}

.control__marker--checkbox {
  width: 16px;
  height: 16px;
  margin-top: -2px;
}

.control__input[type="radio"]:checked + .control__marker::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(45, 52, 64, 1);
}

.control__input[type="radio"]:hover + .control__marker::before {
  background-color:rgba(252, 252, 252, 1);
}

.control__input[type="radio"]:hover + .control__marker {
  border-color: rgba(252, 252, 252, 1);
}

.control__input[type="radio"]:disabled + .control__marker::before {
  background-color:rgba(45, 52, 64, 0.5);
}

.control__input[type="radio"]:disabled + .control__marker {
  border-color: rgba(45, 52, 64, 0.5);
}

.control__input[type="checkbox"] + .control__marker {
  top: 3px;
  border-radius: 0;
  border: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/images/icons/checkbox.svg);
}

.control__input[type="checkbox"]:checked + .control__marker {
  top: 3px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/images/icons/check-on.svg);
}

.control__input[type="checkbox"]:hover + .control__marker {
  background-image: url(/images/icons/check-hover.svg);
}
.control__input[type="checkbox"]:checked:hover + .control__marker {
  background-image: url(/images/icons/chek-on-hover.svg);
}

.control__input[type="checkbox"]:disabled + .control__marker {
  background-image: url(/images/icons/check-disabled.svg);
}
.control__input[type="checkbox"]:checked:disabled + .control__marker {
  background-image: url(/images/icons/chek-on-disabled.svg);
}


.form__button {
  font: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  padding: 8px 50px;
  -ms-flex-item-align:end;
      align-self:flex-end;
  color: #2D3440;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #FCFCFC;
  background-color: rgba(252, 252, 252, 0.30);
  cursor: pointer;
}

.form__button:hover {
  border: none;
  background-color: #FCFCFC;
}

.form__button:active {
  background-color: rgba(252, 252, 252, 0.50);
}

.form__button:focus {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  border: 2px solid #2D3440;
  background-color: rgba(252, 252, 252, 0.30);
}

.products {
  position: relative;
  padding-bottom: 45px;
}

.pagination::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: -42px;
  right: 0;
  background-color: rgba(252, 252, 252, 0.3);
}

/*Pagination*/
.pagination {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 38px 0;
}

.pagination__list {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1px;
  right: -4px;
  list-style: none;
  padding: 0;
}

.pagination__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  background-color: transparent;
}


.pagination__link--current {
  width: 24px;
  height: 24px;
  margin: 0;
  border-radius: 50px;
  background-color: #FCFCFC;
}

.pagination__disabled path {
  fill: rgba(45, 52, 64, 0.3);
}

.pagination__button {
  margin-left: -12px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.pagination__link:hover {
  border-radius: 50px;
  background-color: rgba(252, 252, 252, 0.50);
}

.pagination__link:active {
  border: 1px solid #FCFCFC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  }

.pagination__link:focus {
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #2D3440;
}
