@font-face {
  font-family: "Inter";
  src: url(../fonts/inter-400.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/inter-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/inter-900.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/*Global*/
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1170px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #2D3440;
  background-color: #FEAFC3;
}

.main-container {
  flex-grow: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

.page-main section {
  margin-bottom: 80px;
}
.page-main section:last-child {
  margin-bottom: 48px;
}

.button {
  display: block;
  margin: 0;
  padding: 12px 32px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 26px;
  background-color: #FF2F64;
  border: 4px solid rgba(255, 47, 100, 0.30);
  color: #FCFCFC;
}

.button-light {
  display: block;
  margin: 0;
  padding: 12px 32px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 26px;
  background-color: #FCFCFC;
  border: 4px solid rgba(252, 252, 252, 0.40);
  color: #2D3440;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.radius-s {
  border-radius: 4px;
}

.radius-m {
  border-radius: 8px;
}

.radius-l {
  border-radius: 16px;
}

.shadow-small {
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.shadow-medium {
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
}

.shadow-big {
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
}

.text {
  margin: 0;
  color: #565C66;
}


/*Header*/
.page-header {
  display: flex;
  margin-bottom: 24px;
}

.page-header__logo {
  margin: 24px 16px 0 0;
}

.nav {
  display: flex;
  align-content: center;
  flex-grow: 1;
  justify-content: space-between;
  margin-top: 24px;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  line-height: 20px;
  list-style: none;
}

.nav__item {
  display: block;
  padding: 8px 16px;
}

.nav-dropdown__list {
  display: none; /*временно, чтобы не мешал*/
}

.nav-dropdown__item {
  font-size: 14px;
}

.nav-dropdown__link--accent {
  font-weight: 700;
}

.user-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  list-style: none;
}

.user-nav__item {
  margin-right: 16px;
}

.user-nav__item button {
  min-width: max-content;
}

.user-nav__item:last-child {
  margin-right: 0;
}

.phone__number {
  font-size: 16px;
  font-weight: 700
}

.search__button {
  width: 32px;
  height: 32px;
  border-radius: 27px;
  background-color: rgba(252, 252, 252, 0.30);
  border: none;
  padding: 8px;

}

.log-in__button {
  width: 88px;
  height: 32px;
  border-radius: 30px;
  background-color: rgba(252, 252, 252, 0.30);
  border: none;
  padding: 6px 16px;
}

.log-in__icon {
  margin-right: 6px;
}

.basket__button {
  width: 115px;
  height: 32px;
  border-radius: 30px;
  background-color: rgba(252, 252, 252, 0.30);
  border: none;
  padding: 6px 16px;
}

.basket__icon {
  margin-right: 6px;
}

.search__icon path {
  fill: #2D3440;
}

.log-in__icon path {
  fill: #2D3440;
}

.basket__icon path {
  fill: #2D3440;
}
.nav button {
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

/*Slider*/
.slider__wrapper {
  display: flex;
  column-gap: 40px;
}

.slider__list {
  display: flex;
  flex-direction: column; /*временно чтобы не мешались*/
  padding: 0;
  margin: 0;
}

.slider__item {
  display: flex;
  padding-left: 70px;
}

.slider__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 470px;
}

.slider__title {
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
  margin-bottom: 24px;
}

.slider__text {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 48px;
}

.slider__img {
  padding-top: 23px;
  padding-bottom: 24px;
}

.slider__img_mini {
  width: 66px;
  height: 150px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: 2px solid rgb(18, 8, 159);

}

.preview {
  display: flex;
  row-gap: 41px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.preview__item {
  display: block;
  padding: 0 17px;
}

.preview__item_current {
  display: none;
}

.preview__img {
  width: 66px;
  height: 150px;
}

.carousel {
  display: flex;
  margin: 0;
  padding: 0;
  outline: 2px solid blueviolet;
}

.carousel__item {
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background-color: rgba(252, 252, 252, 0.3);
  margin-right: 8px;
  list-style: none;
}

.carousel__item:last-child  {
margin-right: 0;
}

.carousel__item_current {
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background-color: rgba(252, 252, 252, 1);
  list-style: none;
}

.socials {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.socials__item {
  margin-right: 16px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  width: 24px;
  height: 24px;
}

.socials__icon {
  display: block;
  width: 24px;
  height: 24px;
  outline: 2px solid rgb(0, 255, 72);

}

.socials__icon path {
  fill: rgba(252, 252, 252, 1);
}


.slider__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #FCFCFC;
  background-color:  rgba(252, 252, 252, 0.30);
}

.slider__icon path{
  fill: #FCFCFC;
}

/*delete*/
.slider__item {
  display: none;
}

.slider__item_current {
  display: flex;
}

/*Offer*/

.slogan {
  font-size: 32px;
  font-weight: 900;
  line-height: 46px;
  text-align: center;
  margin: 0;
  margin-bottom: 55px;
}

.offer__banner {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: space-between;
  padding: 36px;
  background-color: #FF7799;
}

.offer__wrapper {
  display: flex;
  gap: 30px;
}

.offer__text {
  max-width: 305px;
  color: #2D3440;
  margin-bottom: 28px;
}

.offer__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  margin-bottom: 28px;
}

.offer__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 219px;
  height: 268px;
}

/*Popular*/

.popular {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.popular__slogan {
  margin-bottom: 107px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 91px;
  text-align: center;
  padding: 0;
}

.card__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #FCFCFC;
  list-style: none;
}

.card__img {
  border-radius: 50%;
  margin-top: -50px;
  margin-bottom: 16px;
}

.card__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  margin-bottom: 8px;
}

.card__text {
  width: 190px;
  padding: 0;
  margin-bottom: 16px;
}

.card__wrapper {
  display: flex;
  align-self: stretch;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;

}
.card__price {
  align-self: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}

.card__button {
  padding: 8px 11px;
  border-radius: 100%;
  align-self: center;
  border: none;
}

.card__icon {
  width: 16px;
  height: 16px;
}

.card__icon path {
  fill: rgba(252, 252, 252, 1);
}

/*Advantages*/
.advantages {
  background-image: url(../images/advantages-bgimage.png);
  background-repeat: no-repeat;
  background-size: 1170px 100%;
  padding: 24px;
}

.advantages__wrapper {
  background-color: #FFFFFF;
  padding: 56px 40px;
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  padding-left: 64px;
}
.advantages__item_ice-cream {
  position: relative;
}

.ice-cream::before {
  position: absolute;
  content: "";
  width: 48px;
  height: 48px;
  top:0;
  left: 0;
  background-image: url(../images/icons/ice-cream.svg);
  background-repeat: no-repeat;
}
.advantages__item_cow {
  position: relative;
}
.cow::before {
  position: absolute;
  content: "";
  width: 48px;
  height: 48px;
  top:0;
  left: 0;
  background-image: url(../images/icons/cow.svg);
  background-repeat: no-repeat;
}

.advantages__item_leaf {
  position: relative;
}

.leaf::before {
  position: absolute;
  content: "";
  width: 48px;
  height: 48px;
  top:0;
  left: 0;
  background-image: url(../images/icons/leaf.svg);
  background-repeat: no-repeat;
}

.advantages__item_thermometer {
  position: relative;
}

.thermometer::before {
    position: absolute;
    content: "";
    width: 48px;
    height: 48px;
    top:0;
    left: 0;
    background-image: url(../images/icons/thermometer.svg);
    background-repeat: no-repeat;
  }

/*News*/

.news {
  display: flex;

  gap: 30px;
}

.blog {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 570px;
  background-color: #FFFFFF;
  background-image: url(../images/blog-bgimage.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.blog__text {
  margin-left: 32px;
  margin-top: 32px;
  line-height: 20px;
}

.blog__title {
  max-width: 303px;
  margin: 0;
  margin-left: 32px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.subscription {
  width: 570px;
  background-image: url(../images/subscription-bgimage.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.subscription__wrapper {
  display: flex;
  flex-direction: column;
  gap: 42px;
  background-color: #FFFFFF;
  margin: 6px;
  padding: 26px;
}

.subscription__form {
  display: flex;
  justify-content: space-between;
}

.subscription__input {
  width: 332px;
  height: 48px;
  font: inherit;
}

.subscription__input::placeholder{
  padding: 14px 16px;
}
/*Delivery*/
.delivery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  background-image: url(../images/delivery-bgimage.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #FFFFFF;
}

.delivery__wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
}

.delivery__title {
  text-align: left;
  margin: 0;
}

.delivery__text {
  text-align: left;
}

.delivery__form {
  width: 500px;
  height: 406px;
  margin: 64px 64px 64px auto;
  background-color: #FFFFFF;

}

.delivery__form .text {
  text-align: center;
  margin-top: 40px;
}

.order {
  display: flex;
  flex-direction: column;
  margin: 32px 40px 40px 40px;
}

.order label {
  font-weight: 700;
  line-height: 20px;
}

.tooltip__button {
  display: block;
  width: 14px;
  height: 14px;
  background-color: transparent;
  border: none;
}


/*Contacts*/
.contacts {
  display: flex;
  background-image: url(../images/contacts-bgimage.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
}

.contacts__address {
  display: flex;
  flex-direction: column;
  min-width: min-content;
  padding: 40px;
  margin: 64px;
  background-color: #FCFCFC;
  font-style: normal;
}

.adress {
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
}

.telephone__number {
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
}

.time {
  font-size: 14px;
  line-height: 20px;
}

/*Footer*/
.footer {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  row-gap: 8px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu__item {
  position: relative;
  font-size: 14px;
  line-height: 20px;
}

.menu__item_active {
  font-weight: 700;
}

.menu__item_active::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 1px;
  left:-24px;
  background-image: url(../images/icons/Heart-fill.svg);
  background-repeat: no-repeat;

}

.menu__link {
  display: inline;
}

.developed {
  display: grid;
  row-gap: 14px;
  min-width: max-content;
  margin: 0;
  padding: 0;
  list-style: none;
}

.developed__text {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

.developed__link {
  text-decoration: underline;
}

/*Catalog*/
.inner-page {
  display: flex;
  flex-direction: column;
}

.breadcrumbs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  row-gap: 1em;
  list-style: none;
}

.breadcrumbs__item {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin-right: 12px;
}

.breadcrumbs__link {
  padding: 8px;
}

.breadcrumbs__item::after{
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  top: 5px;
  background-image: url(../images/icons/chevrons-right.svg);
  background-repeat: no-repeat;
  outline: 2px solid red;
}

.breadcrumbs__item:last-child {
  margin-right: 0;
}

/*Filter*/

.filter {
  margin-bottom: 100px;
}
.form {
  display: flex;
  row-gap: 16px;
  flex-wrap: wrap;
  width:950px;
}

.form__group {
  border: none;
  margin: 0;
  padding: 0;
  margin-right: 24px;
}

.form__title {
  line-height: 20px;
  margin-bottom: 8px;
  margin-left: 16px;
}

.form__sorter {
  width: 196px;
  height: 36px;
  border-radius: 20px;
  border: none;
  margin: 0;
  padding: 8px 63px 8px 16px;
  background-color: rgba(252, 252, 252, 0.3);
}

.percent {
  border-radius: 18px;
  margin: 0;
  padding: 8px 24px;
  background-color: rgba(252, 252, 252, 0.3);
  display: flex;
  flex-wrap: wrap;
  row-gap: 1em;
  list-style: none;
}

.percent__item {
  margin-right: 16px;
}

.percent__item:last-child {
  margin-right: 0;
}

.tastes {
  border-radius: 18px;
  margin: 0;
  padding: 9px 24px;
  background-color: rgba(252, 252, 252, 0.3);
  display: flex;
  flex-wrap: wrap;
  row-gap: 1em;
  list-style: none;
}

.tastes__item {
  margin-right: 16px;
}

.tastes__item:last-child {
  margin-right: 0;
}

.form__button {
  font: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  padding: 8px 32px;
  align-self:flex-end;
  color: #2D3440;
  border-radius: 20px;
  border: 2px solid #FCFCFC;
  background-color: rgba(252, 252, 252, 0.30);
}

/*Pagination*/

.pagination__list {
  display: flex;
  list-style: none;
}

.pagination__item {
  content: "";
  padding: 8px;
}

.pagination__item_active {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 2px 8px;
  border-radius: 50px;
  align-items: center;
  background-color: #FCFCFC;
}
